<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    .mac {
      margin-bottom: 10px;
    }

    .ip {
      margin-bottom: 30px;
    }

    button {
      width: 200px;
      height: 200px;
      font-size: 30px;
      margin-right: 100px;
    }

    .on {
      background-color: green;
    }

    .off {
      background-color: red;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <div class="mac">
      <span>MAC address</span>
      <input type="text" id="mac"/>
    </div>

    <div class="ip">
      <span>IP Server</span>
      <input type="text" id="ip"/>
    </div>

    <div>
      <button class="on" onclick="on()">On</button>
      <button class="off" onclick="off()">Off</button>
    </div>

    <script>

    var mac = "";

    function on() {
      console.log('on');

      var e = document.getElementById('mac');
      var ip = document.getElementById('ip');
      var formData = new FormData();
      formData.append("action", "on");
      formData.append("mac", e.value)
      var request = new XMLHttpRequest();
      const finali = `http://${ip.value}:8000/control/actions/`;
      request.open("POST", finali);
      request.send(formData);
    }

    function off() {
      console.log('off');

      var e = document.getElementById('mac');
      var ip = document.getElementById('ip');
      var formData = new FormData();
      formData.append("action", "off");
      formData.append("mac", e.value)
      var request = new XMLHttpRequest();
      const finali = `http://${ip.value}:8000/control/actions/`;
      request.open("POST", finali);
      request.send(formData);
    }
    </script>
  </body>
</html>
