<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    .mac {
      margin-bottom: 50px;
    }

    button {
      width: 200px;
      height: 200px;
      font-size: 30px;
      margin-right: 100px;
    }

    .on {
      background-color: green;
    }

    .off {
      background-color: red;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <div class="mac">
      <span>MAC address</span>
      <input type="text" onchange="onChangeMAC()"/>
    </div>

    <div>
      <button class="on" onclick="on()">On</button>
      <button class="off" onclick="off()">Off</button>
    </div>

    <script>
    function on() {
      console.log('on');

      $.ajax({
        url: "http://localhost:8000/control/actions/",
        type: "post", // or "get"
        // data: '{"action":"on"}',
        data: JSON.stringify({
          "action": "on",
          "mac": "00:21:13:01:FA:CA",
        }),
        success: function(data) {
          alert(data.result);
        }});
    }

    function off() {
      console.log('off');

      $.ajax({
        url: "http://localhost:8000/control/actions/",
        type: "post", // or "get"
        // data: '{"action":"on"}',
        data: JSON.stringify({
          "action": "off",
          "mac": "00:21:13:01:FA:CA",
        }),
        success: function(data) {
          alert(data.result);
        }});
    }

    function onChangeMAC(e) {
      console.log(e);
    }
    </script>
  </body>
</html>
